@font-face {
    font-family: 'Ghoul';
    font-style: normal;
    src: url('fonts/ghoul.ttf');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    user-select: none;
    align-items: center;
    background-position-y: center;
    background: url("img/Безымянный.png") no-repeat;
    background-size: auto;
}

.minesweeper {
    width: 600px;
    display: inline-flex;
    flex-direction: column;
}

.gameData {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.gameDataElement {
    font-family: 'Ghoul', serif;
    font-size: 60px;
}

.changeAmountOfMines {
    height: 60px;
    width: 60px;
    margin: 5px 25px 5px 25px;
}

.amountOfMines {
    display: flex;
    justify-content: center;
    margin: 0;
}

.field {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    background-size: contain;
    background-repeat: repeat;
}

.cell {
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid black;
    background-image: url("img/grass.png");
    background-size: contain;
    box-shadow: -2px -2px 4px #8d8989;
}