@font-face {
    font-family: 'Ghoul';
    font-style: normal;
    src: url('fonts/ghoul.ttf');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    user-select: none;
    background: no-repeat bottom fixed;
    background-size: cover;
}

.minesweeper {
    width: 600px;
    display: inline-flex;
    flex-direction: column;
}

.gameData {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding-bottom: 10px;
}

.gameDataElement {
    font-family: 'Ghoul', serif;
    font-size: 60px;
}

.changeAmountOfMines {
    height: 60px;
    width: 60px;
    margin: 5px 25px 5px 25px;
}

.amountOfMines {
    width: 60px;
    display: flex;
    justify-content: center;
    margin: 0;
}

.field {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    background-size: contain;
    background-repeat: repeat;
    padding: 0 0 10px 0;
}

.cell {
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: center;
    font-family: 'Ghoul', serif;
    color: #dc143c;
    font-size: 0;
    background-image: url("img/closeCell.png");
    background-size: contain;
    border: 3px solid black;
    box-shadow: -2px -2px 4px #8d8989;
}

.modalWindow {
    z-index: 1;
    position: absolute;
}

video{
    width: 1200px;
    border-radius: 50px;
}