body {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    user-select: none;
    background: url("img/Безымянный.png");
}

.minesweeper {
    width: 600px;
    display: inline-flex;
    flex-direction: column;
}

.gameData {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: -2px -2px 6px #484848, 2px 2px 6px #484848;
    font-family: sans-serif;
    background: #8d8989;
}

.gameDataElement {
    font-size: 33px;
    height: 40px;
    border-radius: 6px;
    background: #aeb4be;
    margin: 10px;
    border: 3px solid grey;
}

.changeAmountOfMines {
    height: 40px;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border: 3px solid gray;
    background: #aeb4be;
    font-size: 30px;
}

.amountOfMines {
    display: flex;
    justify-content: center;
    width: 30px;
}

.field {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    background-size: contain;
    background-repeat: repeat;
}

.cell {
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid black;
    background-image: url("img/grass.png");
    background-size: contain;
    box-shadow: -2px -2px 4px #8d8989;
}